
<main>
    {{#if hasProducts }}
        <h1>My Products</h1>
        <p>List of All the Products .....</p>
        {{#each prods}}
            <p>{{this.title}}</p>
        {{/each}}
    {{else}}
        <h1>No Products Found!!</h1>
    {{/if}}
</main>
