body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.main-header {
    width: 100%;
    height: 3.5rem;
    background-color: #b9e009;
    padding: 0 2rem;
    box-sizing: border-box;   
}

.main-header__nav {
    height: 100%;
    display: flex;
    align-items: center;
}

.main-header__item-list {
    list-style: none;
    margin:0;
    padding:0;
    display: flex;
}

.main-header__item {
    margin:0 1rem;
    padding:0;
}

.main-header__item a {
    text-decoration: none;
    color: black;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
    color: #2f6ef7;  
}

main {
    padding: 1rem;
}